<!DOCTYPE html>
<html lang="en">
<head>
  <!--char set (lang above)-->
  <meta charset="utf-8">

  <!--device/browser shizzle-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--meta content-->
  <link rel="shortcut icon" href="favicon.ico" />
  
  <meta name="author" content="Ruth John (@rumyra)">
  <meta name="dcterms.rightsHolder" content="Ruth John for Rumyra Ltd, United Kingdom, 2015">
  <title>Javascript is Everywhere</title>

  <!--CHANGE THIS TO USE NPM-->
  <link rel="stylesheet" href="reveal/css/reveal.css">
  <link rel="stylesheet" href="reveal/css/theme/sky.css" id="theme">
  <link rel="stylesheet" href="reveal/lib/css/zenburn.css" id="theme">
  <script src="reveal/js/reveal.js"></script>

  <link href="public/css/extraTalk.css" rel="stylesheet" type="text/css">

  <style type="text/css">
  #apiList p {display: inline-block; margin:20px;}
  </style>
  
</head>
<body class="talk">
  <div class="reveal">
    <div class="slides">
      <section>
        <section>
          <h1>Out Of The Browser</h1>
          <h2>And Onto The Streets</h2>
          <h3>Ruth John</h3>
        </section>
        <section>
          <h2>Hello, my name is Ruth</h2>
          <h3 class="fragment fade-in">@rumyra</h3>
          <aside class="notes">
            <p>Hi my names Ruth - I’m from the UK. I’m from a web development background, I currently work in research and development. You can find me on the internets as @rumyra</p>
            <p></p>
          </aside>
        </section>
        <section data-background="public/ohyes.gif">
          <h2 style="color:white;">Javascript</h2>
          <aside class="notes">
            <p>Javascript</p>
            <p>It's awesome right?</p>
            <p>I mean just today we've seen...</p>
          </aside>
        </section>
        <section>
          <h3>Awesome Transitions</h3>
          <h3 class="fragment fade-in">Funky functions</h3>
          <h3 class="fragment fade-in">Hidden treasures</h3>
          <h3 class="fragment fade-in">JS on mobile</h3>
          <aside class="notes">
            <p>Awesome CSS transitions - btw I recommend animation API, funky functions - nothing wrong with a bit of functional programming. Bluetooth - luv luv luv. And of course, JS in your pocket right - on your pocket computer - your mobile phone!</p>
          </aside>
        </section>

        <section>
          <h2>Quick run down?</h2>
          <aside class="notes">
            <p>What can I say - shall we do a brief history of javascript?</p>
            <p>Created in 10 days in May 1995 by Brendan Eich</p>
            <p>Stuff happened</p>
          </aside>
        </section>

        <section data-background="public/alllogos.png">
          <aside class="notes">
            <p>And now we're here</p>
            <p>Seriously tho - it's been a hard journey for JS, what with the browser vendors and the actionscript and the ECMA v4, 3.1 5 and now 2015, 2016.</p>
            <p>Javascript has suddenly grown up and it's got serious!</p>
          </aside>
        </section>

        <section data-background="public/serious.gif">
          <h2 style="color:white;">Serious programming</h2>
          <aside class="notes">
            <p>But this is the wonderful thing about this loosely type dark art that is JavaScript. It can be serious, but it can also be a lot of fun. There are so many amazing things we now have to play with</p>
            <p>We know this because of all the places we see javascript now - the serious places like</p>
          </aside>
        </section>

        <section data-background="public/aircraft.png">
          <aside class="notes">
            <p>Node servers on an aircraft - this is a company called Reaktor - they built an in flight experiences via an onboard node server for Finair</p>
          </aside>
        </section>

        <section data-background="public/ebola.png">
          <aside class="notes">
            <p>The new offline capabilities of javascript meant it help fight ebola - this is a talk at the last JSConfEU last year. Really important clever stuff.</p>
          </aside>
        </section>

        <section data-background="public/hack.png">
          <aside class="notes">
            <p>And of course, if we believe the telly - which we all do - javascript is used for serious hacking - as portayed in this usa programme 'white collar'.</p>
            <p>And then there's the fun stuff...</p>
          </aside>
        </section>

        <section data-background="public/novation.png">
          <aside class="notes">
            <p>All</p>
          </aside>
        </section>

        <section data-background="public/roland808.png">
          <aside class="notes">
            <p>these</p>
          </aside>
        </section>

        <section data-background="public/viktor.png">
          <aside class="notes">
            <p>synth</p>
          </aside>
        </section>

        <section data-background="public/html909.png">
          <aside class="notes">
            <p>tha</p>
          </aside>
        </section>

        <section data-background="public/mod.png">
          <aside class="notes">
            <p>sisers</p>
            <p>They're all linked to at the end of these slides and I'll flurry link them after too - they're amazing - true engineering.</p>
          </aside>
        </section>

        <section data-background="public/lunar.png">
          <aside class="notes">
            <p>Art installations - like sebly's lunar trails. Hardware meets browser at it's best. An old arcade game recreated in the browser - which is not only a hardware installation but also you can play it in the browser on the website.</p>
          </aside>
        </section>

        <section data-background="public/hardware.jpg">
          <aside class="notes">
            <p>And I haven't even begun on hardware. Tessles, esprinos, node running on raspberry pies, noecoptors - we saw BLE beacons earlier. Javascript is literally everywhere.</p>
          </aside>
        </section>

        <section data-background="public/trex.png">
          <h2 style="color:white;">Dinosaurs</h2>
          <p><a style="color:white;" href="http://www.blackgangchine.com/">blackgangchine.com/</a></p>
          <aside class="notes">
            <p>Dinosaurs - one of my friends hacks big mechanical dinosaurs. Sounds crazy right.</p>
            <p>We have this island of the south coast of England and there’s a park there, where the owner has just shipped in these huge dinosaurs. They all have mechanical skeletons which are control by raspberry pis. These in turn can be programmed with javascript. And so we were thinking of ways for these huge dinosaurs to be more crowd interactive. Having a motion or infrared sensor so they turn when they detect walking past…</p>
          </aside>
        </section>

        <section data-background="public/smalldino.png">
          <h2 style="color:white;">Dinosaurs</h2>
          <p><a style="color:white;" href="http://www.blackgangchine.com/">blackgangchine.com/</a></p>
          <aside class="notes">
            <p>But what if the public could control the dinosaurs?</p>
            <p>Hook up some cheap MIDI controllers and let the kids and big kids come and move the smaller dinos with them</p>
          </aside>
        </section>

        <section>
          <img class="plain" src="public/ponies.png" />
          <aside class="notes">
            <p>And it's not just this library, this framework, this node module... this browser thing we have - this has been rocking it the past few years as well! Even IE has upped it's game with Edge. Who'd a thunk.</p>
          </aside>
        </section>

        <section>
          <h2>Browser APIs</h2>
          <div id="apiList" class="fragment fade-in">
            <p>Geolocation</p>
            <p>Web Animation</p>
            <p>Web Audio</p>
            <p>Ambient Light</p>
            <p>Media Stream</p>
            <p>Media Recorder</p>
            <p>Streams</p>
            <p>Device Orientation</p>
            <p>Screen Orientation</p>
            <p>Web MIDI</p>
            <p>Proximity</p>
            <p>Battery Status</p>
            <p>Push Notifications</p>
            <p>Network Information</p>
            <p>File System</p>
            <p>Clipboard</p>
            <p>Full Screen</p>
            <p>Page Visibility</p>
            <p>Web Speech</p>
            <p>Gamepad</p>
            <p>Pointer Lock</p>
            <p>Alarm</p>
            <p>Vibration</p>
            <p>Bluetooth</p>
            <p>NFC</p>
          </div>
          <aside class="notes">
            <p>I mean we got...</p>
          </aside>
        </section>

        <section data-background="public/ohyes.gif">
          <h2 style="color:white;">Javascript</h2>
          <aside class="notes">
            <p>Javascript</p>
            <p>So anyways - a couple of years a go this all got me thinking - what can we now do with this browser thing - I mean a lot right and I started remenising. You see I'm quite old - I went to uni a long time a go and I remember this:</p>
          </aside>
        </section>

        <section>
          <h2>Winamp</h2>
          <img src="/public/WinAmp.gif" style="display:block;margin:0px auto;" />
          <audio controls  style="display:block;margin:0px auto;">
            <source src="/public/llama.mp3" type="audio/mp3" />
          </audio>
          <aside class="notes">
            <p>If you don't know</p>
            <p>Winamp was the mp3 player of choice
            We're talking back when Napster was illegal</p>
            <p>My favourtie thing - Visualizer</p>
          </aside>
        </section>

        <section data-background="/public/winampViz.jpg">
          <aside class="notes">
            <p>Winamp visualise inspired me</p>
            <p>I used to go into clubs & venues with projector.</p>
            <p>So I got to thinking - could I recreate my native VJ software in a browser</p>
          </aside>
        </section>

        <section>
          <h2>Requirements</h2>
          <p class="fragment roll-in">Moving visual: Web Animation API, HTML, CSS, Canvas, Web GL, video element...</p>
          <p class="fragment roll-in">Analysed sound wave: Web Audio API</p>
          <p class="fragment roll-in">Controller: Web MIDI API</p>
          <aside class="notes">
            <p>Requirements would be moving visual. We've got HTML, CSS, Canvas, WebGL - all these lovely things</p>
            <p>A way to analyse the sound to move the visual - well we have the web audio API</p>
            <p>And a way to control/mix these visuals - the web MIDI API</p>
            <p>So let's start with a simple moving visual</p>
          </aside>
        </section>

        <section data-state="show-vj"></section>

        <section data-state="show-talk">
          <h2>Web Animation API</h2>
          <pre><code data-trim>element.animate([
  {opacity: '1'},
  {opacity: '0.4'}
], {
    duration: 200,
    iterations: 1
});</code></pre>
          <aside class="notes">
            <p>Explain code</p>
            <p>Animation API - covers css transistions animations and svg. It comes with both the animatable keyframes part of css animations but also a timing layer. Much more control over event snad timelines - something css animations lacked.</p>
          </aside>
        </section>

        <section data-state="show-vjtwo"></section>

        <section data-state="show-talk">
          <h2>Web Audio API</h2>
          <p>Concept of Nodes</p>
          <p class="fragment roll-in">Input node</p>
          <p class="fragment roll-in">Modification and anlyser nodes</p>
          <p class="fragment roll-in">Output node - sound out (usually speakers)</p>
          <aside class="notes">
            <p>I'm sure we've all seen the API - but just to go over it - the concept is based around nodes all linked together, input output etc...</p>
          </aside>
        </section>

        <section data-state="play-keyboard">
          <h2>Web Audio API</h2>
<pre><code data-trim>// input nodes
// with oscillator
var oscillator = audioAPI.createOscillator();

// grab from audio or video element
var mediaSource = audioAPI.createMediaElementSource(element);

// take it from a stream source
var streamSource = audioAPI.createMediaStreamSource(stream);

// request file & load into buffer
var bufferSource = audioAPI.createBufferSource();
var request = new XMLHttpRequest();
...
          </code></pre>
          <aside class="notes">

          </aside>
        </section>

        <section>
          <h2>Web Audio API</h2>
          <pre><code data-trim contenteditable>// modification nodes
// control volume
audioAPI.createGain();

// create filter
audioAPI.createBiquadFilter();

// output node
soundFile.connect(audioAPI.destination);
          </code></pre>

          <aside class="notes">
            <p>You can do simple things like control volume - or more comples like make sound filters or even make sound itself (you can aso load sound in)</p>
          </aside>
        </section>

        <section>
          <h2>Analysing</h2>
          <p>We can do that :D</p>
          <pre><code data-trim contenteditable>// analyser node
var analyser = audioAPI.createAnalyser();

//get data
analyser.getByteFrequencyData();
analyser.getFloatFrequencyData();
analyser.getByteTimeDomainData();
          </code></pre>
          <aside class="notes">
            <p>I however want to analyse sound. So I create an analyser node - here you have access to both time and frequncy data - I want frequency.</p>
          </aside>
        </section>

        <section>
          <h2>Match frequency to a light</h2>
          <pre><code data-trim contenteditable>
//get light elements
var lights = document.getElementsByTagName('i');
var totalLights = lights.length;

for (var i=0; i&lt;totalLights; i){
  var freqDataKey = i*8;
  if (frequencyData[freqDataKey] > 160){
    lights[i].style.opacity = "1";
  } else {
    lights[i].style.opacity = "0.2";
  }
}
          </code></pre>
          <aside class="notes">
            <p>Here I just loop over the light elements and match frequency to a light - so when that frequency plays the light shines</p>
            <p>But we need some sound - probably sound the DJ/band is playing</p>
            <p>Enter another web API</p>
          </aside>
        </section>
        
        <section>
          <h2>Media Stream API</h2>
          <p>(getUserMedia)</p>
          <pre><code>// pipe in analysing to getUserMedia
  navigator.getUserMedia(
    {audio:true},
    gotStream,
    function(err) {
      console.log("The following error occured: " + err);
    } 
  );
}, false );
          </code></pre>
          <aside class="notes">
            <p>Picks up on devices camera and microphone</p>
          </aside>
        </section>

        <section data-state="show-audiodetect"></section>

        <section data-state="show-talk">
          <h2>Need some control</h2>
          <p>Web MIDI API</p>
          <aside class="notes">
            <p>Why MIDI - why not gamepad, keyboard, bluetooth.</p>
          </aside>
        </section>

        <section data-background="public/midiConts.jpg">
          <aside class="notes">
            <p>These are just some examples of MIDI instruments.</p>
            <p>Top: Keyboard, synth, drum kit - also drum machines. You can also get things like guitar pedals, clarinet/sax type thing.</p>
            <p><b>One thing to bear in mind</b> MIDI used to be expensive - the digitals intruments & controllers themselves ran into the hundreds if not thousands of pounds and DIN connectors were the data connectors of choice. This dictated in the computer world - expensive sound cards.</p>
            <p>Bottom: Examples of basic controller. Launchpad (one first USB) - next two similar price AKAI LPD8 & Korg NanoPad2. Last icon iDJ</p>
            <p>You can see why there's the MMA, making sure all the different manufacturers stay in line with the protocol</p>
          </aside>
        </section>

        <section>
          <h2>Affordable Hardware</h2>
          <aside class="notes">
            <p>So it's these controllers that have really got attention. We're talking affordable hardware, accessible easily from the browser with a really nice data protocol - which we've already seen</p>
            <p>Something else I should explain about MIDI is it's mis understood</p>
          </aside>
        </section>

        <section>
          <h2>Music Instrument Digital Interface</h2>
          <aside class="notes">
            <p>Let me elaborate. MIDI is intrinsically linked to music. MIDI itself stands for Music Instrument Digital Interface.</p>
          </aside>
        </section>
        <section>
          <h2>Music Instrument <span class="faded">Digital Interface</span></h2>
          <aside class="notes">
            <p> See that Music Instrument. So you can absolutely be forgiven for thinking its the sounds...</p>
          </aside>
        </section>
        <section>
          <h2><span class="faded">Music Instrument</span> Digital Interface</h2>
          <aside class="notes">
            <p>But the key, the bit that’s really MIDI and really interesting is this bit “Digital Interface”. MIDI is a digital interface, at it’s basic it’s a data protocol for MIDI enabled hardware & software to be compatible with other MIDI enabled hardware & software.</p>
            <p>Show you</p>
          </aside>
        </section>

        <section>
          <h2>Core of MIDI -> Messages</h2>
          <aside class="notes">
            <p>But the key, the bit that’s really MIDI and really interesting is this bit “Digital Interface”. MIDI is a digital interface, at it’s basic it’s a data protocol for MIDI enabled hardware & software to be compatible with other MIDI enabled hardware & software.</p>
            <p>Show you</p>
          </aside>
        </section>

        <section>
          <h2>Demo</h2>
          <p data-height="524" data-theme-id="1345" data-slug-hash="jWdWdp" data-default-tab="result" data-user="Rumyra" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/Rumyra/pen/jWdWdp/">Music keyboard</a> by Rumyra (<a href="http://codepen.io/Rumyra">@Rumyra</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
          <aside class="notes">
            <p>You should all see a keyboard - one of the most common MIDI enabled instruments. Now this is the data that the web MIDI api passes back to us when a MIDI device is plugged in. So let's take a look at the code.</p>
          </aside>
        </section>

        <section>
          <h2>[144, 60, 100]</h2>
          <p class="fragment fade-in">[Message type (Note on) & Channel, Note, Velocity/Pressure]</p>
          <h2 class="fragment fade-in">[128, 60, 64]</h2>
          <p class="fragment fade-in">[Message type (Note off), Note, Velocity/pressure]</p>
          <aside class="notes">
            <p>the first byte 144 is the message type and channel, 144 is 90 in hex and the 9 says it's a 'Note on' message and the 0 is the channel number. A 'Note on' message has two data bytes, the first is the 'key number' which I'm guessing is the note number, so 60 would be C the second is 'note on velocity' and this has a value of 100, - 0-127 (I'm guessing this means the rate at which the note is turned on)</p>

          </aside>
        </section>

        <section>
          <h2>Web MIDI API</h2>
          <pre><code data-trim>// call requestMIDIAccess
navigator.requestMIDIAccess({ sysex: false }).then(onMIDISuccess, onMIDIFailure);

// on success of MIDI device recognised
function onMIDISuccess(midiControl) {
  var MIDI = midiControl;

  // log each input data
  MIDI.inputs.forEach(function (input) {
    console.log(input.onmidimessage.data)
  }
}
          </code></pre>
          <p>So far only Chrome & Opera</p>
          <aside class="notes">
            <p>Exact data you get with web MIDI api - just numbers</p>
            <p>You make sure it’s avail, listen for attached device, when plugged in you can receive these afore mentioned messages. All I’m doing here is logging those messages - you can do whatever you want with them. Notice the sysex false - this is related to system messages and I will get back to that in a moment.</p>
            <p>Now there’s a window of opportunity - there’s plenty of stuff we can start coding with that!</p>
          </aside>
        </section>

        <section data-background="public/icon.jpg">
          <aside class="notes">
            <p>So this is my midi controller of choice</p>
            <p>The reason is because I like to take everything that you've jsut seen - but have two screens and mix them together</p>
          </aside>
        </section>

        <section data-background="public/iconside.jpg">
          <aside class="notes">
            <p>One side controls one screen and one side is the other screen</p>
            <p>We can use the buttons, sliders etc... to control what is shown on each screen - whether that be lights like you've seen or video/pictures/3d etc...</p>
            <p>The screens them selves in the code are just divs - so you can put in them what ever you can think to code</p>
          </aside>
        </section>

        <section data-background="public/iconcross.jpg">
          <aside class="notes">
            <p>Now this is the important part - this is the cross fader.</p>
            <p>This doesn't just fade inbetween the two divs - this also picks up on the audio frequency and 'mixes' to the sound</p>
            <p>The best way for me to show you is for me to demo - but you're not gonna see what I'm doing so you're going to have to cope with my comentary.</p>
          </aside>
        </section>

        <section>
          <h2>VJ Software Demo</h2>
          <p><a href="http://github.com/Rumyra">Code is on github.com/Rumyra</a></p>
          <aside class="notes">
            <p>Run this from Canary Ruth</p>
            <p>So great - I can infact recreate a piece of software I had around at uni - in a browser that I used to need quite a hefty old set up for. But what about more - I mean things have changed - tech has got a lot smaller and a lot more portable.</p>
            <p>Well if you're anything like me you're going to take things a little further</p>
          </aside>
        </section>

        <section>
          <h2>So I could have stopped there...</h2>
          <aside class="notes">
            <p>So I could have stopped there - but I didn't. See things have changed since I was at uni - everything is a lot smaller now.</p>
          </aside>
        </section>

        <section data-background="public/bag.jpg">
          <aside class="notes">
            <p>So I took a laptop bag</p>
          </aside>
        </section>

        <section data-background="public/scissors.jpg">
          <aside class="notes">
            <p>scissors</p>
          </aside>
        </section>

        <section data-background="public/mdf.jpg">
          <aside class="notes">
            <p>MDF and a strap</p>
          </aside>
        </section>

        <section data-background="public/projector.jpg">
          <aside class="notes">
            <p>mini projector</p>
          </aside>
        </section>

        <section data-background="public/laptop.jpg">
          <aside class="notes">
            <p>laptop</p>
          </aside>
        </section>

        <section data-background="public/icon.jpg">
          <aside class="notes">
            <p>MIDI controller</p>
          </aside>
        </section>

        <section data-background="public/sew.jpg">
          <aside class="notes">
            <p>Didi some sewing</p>
          </aside>
        </section>

        <section data-background="public/strapped.jpg">
          <aside class="notes">
            <p>et voila - a portable VJ kit - </p>
          </aside>
        </section>

        <section data-background="public/gear.jpg">
          <aside class="notes">
            <p>gaffa tape</p>
          </aside>
        </section>

        <section data-background="public/me.jpg">
          <h2 style="color:white;">Take it to the streets!</h2>
          <p><a style="color:white;" href="https://24ways.org/2015/bringing-your-code-to-the-streets">24ways.org/2015/bringing-your-code-to-the-streets</a></p>
          <aside class="notes">
            <p>You can build a portable VJ kit and carry around the streets of your city, with a laptop, projector and MIDI controller, mixing visuals via your browser.</p>
            <p>I did this - this is me at christmas, walking around the streets of my city, projecting moving visuals to music - with an attached tray. Read all about it on 24ways.org</p>
          </aside>
        </section>

        <section data-background="public/ohyes.gif">
          <h2 style="color:white;">Javascript is Everywhere!</h2>
          
          <aside class="notes">
            <p>We're so comfortable now with our whole dev stack being JS - but it's not just a software environment anymore.</p>
            <p>Tim and I will be around for the next two days with all of our equipment VJing so come and say hello, come and play with our MIDI hardware - can I say that. It’s been an absolute pleasure I really hope I have inspired you today. Thank you.</p>
          </aside>
        </section>

        <section>
            <p>Thanks!</p>
            <p>@rumyra</p>
            <p>I'll tweet the slides</p>
        </section>

        <section>
          <h2>References</h2>
          <p><a href="https://backstage.spotlight.com/2015/01/08/javascript-tools-frameworks-and-libraries/">Javascript logo image</a></p>
          <p><a href="https://reaktor.com/blog/aircraft-customer-experience-on-a-new-level/">Reaktor</a></p>
          <p><a href="http://2015.jsconf.eu/speakers/patricia-garcia-good-tech-for-hard-places-fighting-ebola-with-javascript-offline-apps.html">Fighting Ebola with offline apps</a></p>
          <p><a href="https://twitter.com/adamdawkins/status/670588991784230912">White Collar USA</a></p>
          <p><a href="http://intro.novationmusic.com/harry-coade">Launchpad</a></p>
          <p><a href="http://codepen.io/pixelass/full/adyLPR/">Roland 808</a></p>
          <p><a href="https://nicroto.github.io/viktor/">Viktor NV-1</a></p>
          <p><a href="http://html909.com/#/">HTML909</a></p>
          <p><a href="http://mod-synth.io/">Mod Synth</a></p>
          <p><a href="http://seb.ly/work/lunar-trails/">Seb.ly's Lunar Trails</a></p>
          
        </section>

      </section>
    </div></div>

    <div id="vjing">
      <!-- <button id="play-audio">play</button> -->
      <!-- <audio id="simon" src="public/media/Guilt.mp3" loop></audio> -->
      <section class="screen" id="screenOne"><i></i></section>
      <section class="screen" id="screenTwo"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></section>
    </div>

<script src="reveal/plugin/notes/notes.js"></script>
<script src="reveal/plugin/highlight/highlight.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<!-- <script src="audioVisual.js"></script> -->
<!-- <script src="demos.js"></script> -->

<script type="text/javascript">

// Reveal~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Reveal.initialize({

  // Display controls in the bottom right corner
  controls: true,

  // Display a presentation progress bar
  progress: false,

  // Display the page number of the current slide
  slideNumber: true,

  // Push each slide change to the browser history
  history: true,

  // Enable keyboard shortcuts for navigation
  keyboard: true,

  // Transition style
  transition: 'fade', // none/fade/slide/convex/concave/zoom

  // Transition speed
  transitionSpeed: 'default', // default/fast/slow

  // Transition style for full page slide backgrounds
  backgroundTransition: 'default', // none/fade/slide/convex/concave/zoom

  // Number of slides away from the current that are visible
  viewDistance: 2,

  // Parallax background image
  parallaxBackgroundImage: '', // e.g. "'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg'"

  // Parallax background size
  parallaxBackgroundSize: '', // CSS syntax, e.g. "2100px 900px"

  // Amount to move parallax background (horizontal and vertical) on slide change
  // Number, e.g. 100
  parallaxBackgroundHorizontal: '',
  parallaxBackgroundVertical: ''

});

var vjDiv = document.getElementById('vjing'),
    vjScreenOne = document.getElementById('screenOne'),
    vjScreenTwo = document.getElementById('screenTwo');

Reveal.addEventListener( 'show-vj', function() {
    vjDiv.style.display = 'block';
  }, false );

Reveal.addEventListener('show-talk', function() {
    vjDiv.style.display = 'none';
  }, false );

Reveal.addEventListener( 'show-vjtwo', function() {
    vjDiv.style.display = 'block';
    vjScreenOne.style.display = 'none';
    vjScreenTwo.style.display = 'flex';
  }, false );

Reveal.addEventListener( 'show-audiodetect', function() {
    vjDiv.style.display = 'block';
    // pipe in analysing to getUserMedia
    navigator.getUserMedia(
      {audio:true},
      gotStream,
      function(err) {
        console.log("The following error occured: " + err);
      } 
    );
  }, false );

var audioContext = (window.AudioContext || window.webkitAudioContext);
navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;

var audioApi = new audioContext();

// variables
var audioBuffer,
    analyserNode,
    frequencyData = new Uint8Array(1024);

// create an audio API analyser node and connect to source
function createAnalyserNode(audioSource) {
  analyserNode = audioApi.createAnalyser();
  analyserNode.fftSize = 2048;
  audioSource.connect(analyserNode);
}

// get's html elements, loops over them & attaches a frequency from analysed data - what you do is up to you!
var allRepeatedEls = vjScreenTwo.getElementsByTagName('i'),
  totalEls = allRepeatedEls.length;
for (var i=0; i<totalEls; i++) {
  var lightColour = i*10;
  allRepeatedEls[i].style.backgroundColor = 'hsla('+lightColour+',  80%, 50%, 0.8)';
  allRepeatedEls[i].style.borderColor = 'hsla('+lightColour+',  80%, 50%, 1)';
}

function animateStuff() {
  requestAnimationFrame(animateStuff);
  analyserNode.getByteFrequencyData(frequencyData);
  for (var i=0; i<totalEls; i++) {
    // flash on frequency
    var freqDataKey = i*2;
    if (frequencyData[freqDataKey] > 100){
      // frequency played - make opache
      allRepeatedEls[i].style.opacity = "1";
    } else {
      // frequency not played - fade out
      allRepeatedEls[i].style.opacity = "0.2";
    }
  }
}

// getUserMedia success callback -> pipe audio stream into audio API
function gotStream(stream) {
    // Create an audio input from the stream.
    var audioSource = audioApi.createMediaStreamSource(stream);
    createAnalyserNode(audioSource);
    animateStuff();
}





// var playButton = document.getElementById('play-audio'),
//     simonSoundEl = document.getElementById('simon'),
    
//     guiltMp3 = audioAPI.createMediaElementSource(simonSoundEl),
//     analyserNode = audioAPI.createAnalyser(),
//     frequencyData = new Uint8Array(1024);
// analyserNode.fftSize = 2048;

// var playGuilt = function playGuilt() {
//   guiltMp3.connect(analyserNode);
//   guiltMp3.connect(audioAPI.destination);
//   analyserNode.connect(audioAPI.destination);
//   simonSoundEl.play();
//   flashPads();
// }
// playButton.onclick = function() {
//   if (simonSoundEl.paused) {
//     playGuilt();
//   } else {
//     simonSoundEl.pause();
//   }
// }
// var flashPads = function flashPads() {
//   requestAnimationFrame(flashPads);
//   //constantly getting feedback from data
//   analyserNode.getByteFrequencyData(frequencyData);

//   var padEls = vjDiv.getElementsByClassName('visual');
//   var totalElements = padEls.length;

//   for (var i=0; i<totalElements; i++) {
//     //flash on frequency
//     var freqDataKey = i*8;
//     if (frequencyData[freqDataKey] > 140){
//       //start animation on element
//       padEls[i].style.opacity = "1";
//     } else {
//       padEls[i].style.opacity = "0.4";
//     }
//   }
// }

// function include(arr,obj) {
//     return (arr.indexOf(obj) != -1);
//   }


</script>


</body>
</html>